@media screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding: 20px 50px 10px;
    }
    header h2 {
        font-size: 1.3rem;
    }
    header nav li {
        margin-bottom: 10px;
        margin-left: 0;
        text-align: left;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav {
        display: none;
    }
    .dropdown:hover .dropdown-menu {
        display: none;
    }
    header .icon {
        float: right;
        display: block;
    }
    .nav.responsive {
        position: relative;
    }
    .nav.responsive {
        float: none;
        display: block;
        text-align: left;
    }
    .target {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 80px 30px 20px;
    }
    .text {
        margin-bottom: 60px;
    }
    .img-home {
        max-height: 50vh;
        width: auto;
        margin-bottom: 20px;
    }
    .img,
    .sendmessage {
        border-radius: 10px;
        box-shadow: 0px 0px 80px -40px black;
    }
    .home h1 {
        font-size: 3.5rem;
    }
    .home h3 {
        font-size: 2rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    p,
    .list {
        font-size: 1rem;
    }
    .img-left,
    .img-about {
        width: 100%;
        height: 100%;
        object-fit: cover;
        order: 2;
    }
    .about {
        background-color: #fcbf3c;
    }
    .cell {
        margin: 20px auto;
    }
    .skill {
        padding: 20px;
    }
    div.sendmessage {
        order: 2;
        margin: 0;
        width: auto;
    }
    .project-intro .img {
        order: 1;
    }
    .project-gallery .grid li.small,
    .project-gallery .grid li.large {
        flex-basis: 100%;
    }
    .project-gallery {
        background-color: #fcbf3c;
        padding: 15px 15px;
    }
}